.footer {
     grid-column: full-start / full-end;
     background-color: $color-primary;
     margin-top: 15rem;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
     grid-gap: 5rem;
     padding: 5rem 1rem;
    

     &__list {
          list-style-type: none;
          display: grid;
          grid-row-gap: 1rem;
          justify-items: center;
          align-items: center;
          &--link {

               &:link,
               &:visited {
                   color: #fff;
                   border: none;
                   font-weight: 400;
                   text-decoration: none;
                   border-radius: 0;
                   font-size: 1.6rem;
                   padding: 1rem;
                   text-transform: uppercase;
                   cursor: pointer;
                   transition: all .2s;
               }
   
               &:hover,
               &:active {
                   color: #aaa;
   
               }
     }

     &--copy, &--text, &--head, &--icon {
          color: #fff;
     }
     &--text {
          font-size: 1.6rem;
     }

     &--icon {
          margin: 0 2rem;
          font-size: 3.5rem;
          transition: all .2s;
          cursor: pointer;
          justify-self: center;
          &:hover {
               color: #aaa;
          }
     }
}
}
